.footer {
    background-image: linear-gradient(to right, #57042a, #6c0749, #57042a);
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.texto-footer {
    text-align: center;
    color: white;
    align-content: center;
    padding-right: 2rem;

}

.contatos-footer {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.contatos-footer img {
    width: 39px;
    height: 39px;
    object-fit: cover;
    margin-right: 2rem;
    display: flex;
   justify-content: end;
   

}