@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.div-paragrafo-comunidade-pag{
    display: flex;
    align-items: center;
    flex-direction: column;

  }
  
  .primeiro-paragrafo-pag-projeto-comunidade{
    
    font-size: 18px;
    text-align: justify;
    width: 80%;
    margin: 60px 0;
  }
  

  .titulo-pag-projeto{
    color:#370225;
   
  }